.uw_tips_container {
  float: left;
  width: 80%;
}

.uw_tips_content {
  float: left;
  width: 15%;
  margin-left: 20px;
  margin-top: 2.2em;
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.uw_tips_content h2 {
  font-size: 1.2em;
  border-bottom: solid 1px #ccc;
  background-color: #ffc;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.uw_tips_content div {
  padding: 10px;
}
.uw_tips_content p {
  margin: 0;
}
